# Note that the following stanza uses CircleCI 2.1 to make use of a Reusable Executor
# This allows defining a docker image to reuse across jobs.
# visit https://circleci.com/docs/2.0/reusing-config/#authoring-reusable-executors to learn more.

version: 2.1

executors:
  the-executor:
    docker:
      - image: cimg/node:16.20.0
    working_directory: ~/command

orbs:
  aws-s3: circleci/aws-s3@3.1.1
jobs:
  build-master:
    executor: the-executor
    resource_class: medium+
    steps:
      - checkout
      - run:
          name: Add environment vars
          command: |
            echo "export AWS_ACCESS_KEY_ID=${ACCESS_KEY_ID}" >> $BASH_ENV
            echo "export AWS_SECRET_ACCESS_KEY=${SECRET_ACCESS_KEY}" >> $BASH_ENV
            echo "export AWS_REGION=${AWS_REGION}" >> $BASH_ENV
      - run:
          name: Install project dependencies
          command: yarn install
      - run:
          name: Build
          command: yarn build
      - aws-s3/sync:
          arguments: --cache-control "max-age=0"
          aws-access-key-id: ACCESS_KEY_ID
          aws-secret-access-key: SECRET_ACCESS_KEY
          aws-region: AWS_REGION
          from: build/
          to: "s3://treact-landing-page-paid-search"

workflows:
  version: 2
  build:
    jobs:
      - build-master:
          context: PRODUCTION
          filters:
            branches:
              only: master
